@font-face {
    font-family: 'Plain-Regular';
    src: url('~@font/Plain-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Plain-Medium';
    src: url('~@font/Plain-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}