// Variables de wrapper
$wrapperDesktop: 90vw;

// Variables de mediaqueries
$laptop: 1350px;
$tablet: 1080px;
$mobile: 480px;

// Variables de fontes
$font: 'Plain-Regular';
$font-medium: 'Plain-Medium';

// Variables de couleurs
$color-black: rgb(26, 26, 26);
$color-lightBlack: rgb(85, 82, 82);

// Variables cubic-bezier
$curve: cubic-bezier(.7,0,.3,1);
$curve2: cubic-bezier(.82,.01,.2,.99);